/* Common */
* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: #efefef;
  padding: 0;
  margin: 0;
}

.game-container {
  position: relative;
  width: 352px;
  height: 198px;
  margin: 0 auto;
  outline: 1px solid #fafafa;

  transform: scale(2.6) translateY(50%);
}

.game-container canvas {
  /* background-color: #fff; */
  image-rendering: pixelated;
}
