/* Common */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: orangered;
}

.game-container {
  outline: 1px solid white;
  width: 352px;
  height: 198px;
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  display: block;
}

.game-canvas {
  /* background-color: #fff; */
}

.human {
  width: 64px;
  height: 64px;
  object-fit: none;
  object-position: 0px 0px;
  /* image-rendering: pixelated; */
}
